.profile {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 300px rgba(45, 76, 140, 0.738);
  margin-top: 100px;
}

.avatar {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.tag {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #777;
  margin-top: 5px;
}

.location {
  display: flex;
  justify-content: center;
  font-size: 18px;
  color: #777;
  margin-top: 5px;
}

.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.label {
  font-size: 18px;
  color: #777;
}

.quantity {
  font-size: 18px;
  font-weight: bold;
}
